// shared style for all phone and product cards
%product-cards {
  background-color: #ccc;
  border-radius: 15px;
  width: 318px;
  overflow: hidden;
  transition: all 0.3s;
  box-shadow: 0 0 10px black;

  .img-container {
    position: relative;
    background-color: #ffff;
    width: 100%;
    height: 295px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px $heavyDark;

    .tag {
      z-index: 1;
      position: absolute;
      left: -5px;
      top: 15%;
      width: 20%;
      font-family: "Roboto";
      font-size: 1em;
      background-color: $orange;
      color: $white;
      text-align: center;
      opacity: 0.7;
      border-radius: 5px;
    }

    img {
      display: block;
      margin: auto;
      max-width: 170px;
      object-position: center;
      object-fit: cover;
      transition: transform 2.5s ease;
    }

    .information-hover {
      position: absolute;
      z-index: 1;
      bottom: -25%;
      width: 82%;
      display: flex;
      justify-content: space-between;
      transition: bottom 0.25s ease-in;

      %information-hover-style {
        display: flex;
        align-items: center;
        font-family: "Roboto";
        background-color: rgba(255, 124, 31, 0.7);
        border-radius: 50px;
        color: $white;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
      }

      .add-to-cart {
        @extend %information-hover-style;
        padding: 0.5em 0.7em;
      }

      .like-product {
        @extend %information-hover-style;
        padding: 0.5em 0.8em;
      }

      .compare-product {
        @extend %information-hover-style;
        padding: 0.5em;
        a {
          color: $white;
        }
      }
    }

    .information-hover:hover span {
      background-color: $orange;
    }
  }

  .information-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background-color: #ccc;
    padding: 0 2em;
    transition: background-color 0.3s;

    i {
      font-size: 1em;
      color: $heavyDark;
      margin-right: 0.3em;
    }

    .name-brand {
      width: 100%;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.3em;
      color: black;
      margin: 0.4em 0 0.8em 0;
      border-bottom: 1px solid $heavyDark;
      padding: 0.3em;
      cursor: default;
    }

    .price-container {
      width: 100%;
      font-family: "Roboto";
      display: flex;
      flex-flow: wrap row;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.1em;
      font-size: 1em;

      .price {
        color: $lightBlue;
        display: flex;
        margin-left: 0.5em;
        align-items: center;
      }

      .discount {
        margin-left: 0.5em;
        color: rgba(0, 0, 0, 0.4);
        text-decoration: line-through 1px $heavyDark;
      }
    }

    .save-money {
      font-family: Arial, Helvetica, sans-serif;
      text-align: left;
      width: 100%;
      margin-bottom: 1.2em;
      font-size: 0.9em;
      text-align: center;
      color: lighten($lightDark, 10%);

      span {
        font-family: "Roboto";
        font-size: 1.5em;
        color: $heavyDark;
      }

      sup {
        color: $heavyDark;
      }
    }

    .buy-now {
      outline: none;
      position: relative;
      border: none;
      font-family: "Roboto";
      font-size: 1.1em;
      color: $white;
      padding: 0.5em;
      border-radius: 10px;
      background-color: darken($lightBlue, 15%);
      cursor: pointer;
      opacity: 0.8;
      width: 80%;
      margin: 0 auto;
      transition: all 0.3s;
    }

    .buy-now:hover {
      opacity: 1;
      transform: scale(105%, 105%);
    }
  }
}

// shared style for options container inside filter
%options-filter {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 7 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  top: 55px;
  left: 0;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: Blur(5px);

  label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: $white;
    padding: 1em;
    font-family: "Roboto";
    font-size: 1.1em;
    transition: all 0.4s;
    border-radius: 5px;

    input {
      margin-right: 1.5em;
      margin-left: 0.5em;
      appearance: none;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $heavyDark;
    }

    input:checked {
      background-color: $white;
    }
  }
}

.main-container {
  width: 100%;

  main {
    width: 100%;
    .all-products-container {
      width: 95%;
      margin: 5em auto;

      .header-product-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5em;

        h1 {
          font-family: "Roboto";
          font-size: 3em;
          color: $skyBlue;
          border-bottom: 2px solid $lightBlue;
        }

        .buttons-of-slider {
          button {
            outline: none;
            cursor: pointer;
            text-align: center;
            margin: 0 0.2em;
            color: $skyBlue;
            width: 50px;
            height: 50px;
            border: none;
            text-align: center;
            font-size: 1.7em;
            transition: all 0.3s;
            border-radius: 50px;
            background-color: lighten($heavyDark, 30%);

            i {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          button:hover {
            background-color: lighten($heavyDark, 20%);
          }
        }
      }

      .product-slider-container {
        width: 100%;
        height: 500px;
        overflow: hidden;
        border-radius: 5px;
        background-color: #333;

        .products-container {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: repeat(10000, 1fr);
          align-items: center;
          justify-content: space-between;

          .product {
            @extend %product-cards;
            height: 95%;
            margin: 0 3px;
          }

          .product:hover {
            background-color: $skyBlue;
          }

          .product:hover .information-container {
            background-color: $skyBlue;
          }

          .product:hover .information-hover {
            bottom: 4%;
          }

          .product:nth-child(odd) .img-container:hover img {
            transform: scale(125%, 125%) rotate(5deg);
          }

          .product:nth-child(even) .img-container:hover img {
            transform: scale(125%, 125%) rotate(-5deg);
          }
        }
      }
    }

    .bg-fixed-container {
      position: relative;
      width: 100%;
      height: 400px;
      margin-bottom: 5em;
      background-image: url(../Images/Bg-fixed/accessories.jpg);
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      background-attachment: fixed;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .big-sale {
        z-index: 5;
        display: flex;
        width: 100%;
        flex-flow: wrap column;
        justify-content: center;
        align-items: center;
        font-family: "Roboto";

        h1 {
          z-index: 4;
          text-align: center;
          font-size: 3em;
          color: $white;
          text-transform: uppercase;
          margin-bottom: 1em;
        }

        p {
          font-size: 2em;
          color: lighten($lightDark, 50%);
          margin-bottom: 1em;
        }

        span {
          color: $orange;
        }

        a {
          text-decoration: none;
          color: $white;
          padding: 1em;
          text-align: center;
          border-radius: 35px;
          font-family: "Roboto";
          font-size: 1.3em;
          background-color: darken($lightBlue, 15%);
          opacity: 0.8;
          transition: all 0.4s ease-out;
        }

        a:hover {
          opacity: 1;
        }
      }

      .big-sale:before {
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        width: 150%;
        height: 150%;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

// this is for otherBrands Html document
.outter-container {
  width: 100%;
  .main-container {
    main {
      .phones-container {
        width: 85%;
        margin: 3em auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 2em 1em;

        .product {
          @extend %product-cards;
          height: 100%;
          margin: 5px 3px;
        }

        .product:hover {
          background-color: $skyBlue;
        }

        .product:hover .information-container {
          background-color: $skyBlue;
        }

        .product:hover .information-hover {
          bottom: 4%;
        }

        .product:nth-child(odd) .img-container:hover img {
          transform: scale(125%, 125%) rotate(5deg);
        }

        .product:nth-child(even) .img-container:hover img {
          transform: scale(125%, 125%) rotate(-5deg);
        }

        .product-hidden {
          display: none;
          visibility: hidden;
          opacity: 0;
        }

        .product-back {
          display: grid;
          visibility: visible;
          opacity: 1;
        }
      }

      .loader-img {
        display: block;
        border: none;
        margin: 0.5em auto;
        width: 20vw;
        border-radius: 50%;
      }
    }

    .load-more {
      display: block;
      opacity: 0.8;
      margin: 2em auto;
      background-color: $lightBlue;
      padding: 0.5em;
      text-align: center;
      box-shadow: 0 0 5px $heavyDark;
      border-radius: 5px;
      font-family: "Roboto";
      font-size: 1.2em;
      cursor: pointer;
      color: $skyBlue;
      border: none;
      transition: all 0.3s;
    }

    .load-more:hover {
      opacity: 1;
    }
  }

  .show-cards-container {
    width: 60%;
    margin: 2em auto 0px auto;
    display: flex;
    justify-content: space-between;

    .filter-container {
      cursor: pointer;
      width: 50%;
      margin: 0 0.5em;
      background-color: $darkBlue;
      position: relative;
      border-radius: 5px;
      box-shadow: 0 0 5px $heavyDark;

      .selected-filter {
        padding: 0.5em 2em;
        width: 100%;
        color: $white;
        font-size: 1.2em;
        font-family: "Roboto";
        text-align: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .options-container {
        @extend %options-filter;
      }

      .options-active {
        display: flex;
        visibility: visible;
        opacity: 1;
      }

      label:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }

      label:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    .sort-container {
      width: 50%;
      background-color: #fff;
      cursor: pointer;
      margin: 0 0.5em;
      position: relative;
      border-radius: 5px;
      box-shadow: 0 0 5px $heavyDark;

      .selected-sort {
        padding: 0.5em 2em;
        width: 100%;
        color: $heavyDark;
        font-size: 1.2em;
        font-family: "Roboto";
        text-align: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .sort-options-container {
        @extend %options-filter;
      }

      .sort-options-active {
        display: flex;
        visibility: visible;
        opacity: 1;
      }

      label:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      }

      label:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .show-sample {
    display: block;
    width: 58%;
    margin: 1.5em auto 0 auto;
    text-decoration: none;
    border: 1px solid $white;
    padding: 10px;
    color: $white;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.7;
    transform: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

// Media queries --------------------------------

@media (max-width: 1000px) {
  .outter-container {
    width: 100%;
    .main-container {
      main {
        .phones-container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 2em 1em;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .main-container {
    main {
      .all-products-container {
        .header-product-container {
          h1 {
            font-size: 2em;
          }

          .buttons-of-slider {
            button {
              width: 45px;
              height: 45px;
              font-size: 1.4em;
            }
          }
        }

        .product-slider-container {
          height: 400px;
          .products-container {
            .product {
              height: 95%;
              width: 250px;

              .img-container {
                height: 227px;

                img {
                  max-width: 102px;
                }

                .tag {
                  font-size: 0.9em;
                }

                .information-hover {
                  width: 75%;
                  .add-to-cart,
                  .like-product,
                  .compare-product {
                    font-size: 0.9em;
                  }
                }
              }

              .information-container {
                i {
                  font-size: 0.9em;
                }

                .name-brand {
                  font-size: 1em;
                  margin-bottom: 0.4em;
                }

                .price-container {
                  font-size: 0.9em;
                  margin-bottom: 0.3em;
                }

                .save-money {
                  margin-bottom: 0.3em;

                  span {
                    font-size: 1.2em;
                  }
                }

                .buy-now {
                  font-size: 0.9em;
                  padding: 0.4em;
                }
              }
            }
          }
        }
      }

      .bg-fixed-container {
        height: 300px;
        background-attachment: unset;

        .big-sale {
          h1 {
            font-size: 2em;
          }

          p {
            font-size: 1.4em;
            text-align: center;
          }

          a {
            font-size: 1em;
          }
        }
      }
    }

    .show-sample {
      width: 87%;
      font-size: 0.8em;
    }
  }

  // otherBrands Html document phone cards responsive
  .outter-container {
    width: 100%;
    .main-container {
      main {
        .phones-container {
          width: 70%;
          grid-gap: 1em 0.5em;

          .product {
            height: 95%;
            width: 250px;
            margin: 15px 3px;

            .img-container {
              height: 227px;

              img {
                max-width: 102px;
              }

              .tag {
                font-size: 0.9em;
              }

              .information-hover {
                width: 75%;
                .add-to-cart,
                .like-product,
                .compare-product {
                  font-size: 0.9em;
                }
              }
            }

            .information-container {
              i {
                font-size: 0.9em;
              }

              .name-brand {
                font-size: 1em;
                margin-bottom: 0.4em;
              }

              .price-container {
                font-size: 0.9em;
                margin-bottom: 0.3em;
              }

              .save-money {
                margin-bottom: 0.3em;

                span {
                  font-size: 1.2em;
                }
              }

              .buy-now {
                font-size: 0.9em;
                padding: 0.4em;
              }
            }
          }
        }
      }
    }

    .show-cards-container {
      width: 90%;
    }
  }
}

@media (max-width: 520px) {
  .outter-container {
    width: 100%;
    .main-container {
      main {
        .phones-container {
          width: 50%;
          grid-template-columns: repeat(1, 1fr);

          .product {
            .img-container {
              .information-hover {
                bottom: 4%;
              }
            }
          }
        }
      }
    }

    .show-cards-container {
      .filter-container {
        .selected-filter {
          font-size: 0.9em;
        }

        .options-container {
          top: 40px;

          label {
            font-size: 0.8em;
          }
        }
      }

      .sort-container {
        .selected-sort {
          font-size: 0.9em;
        }

        .sort-options-container {
          top: 40px;

          label {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}

@media (max-width: 433px) {
  .main-container {
    main {
      .all-products-container {
        .header-product-container {
          h1 {
            font-size: 1.5em;
          }

          .buttons-of-slider {
            button {
              width: 40px;
              height: 40px;
              font-size: 1.2em;
              outline: none;
            }
          }
        }

        .product-slider-container {
          height: 280px;
          .products-container {
            .product {
              height: 95%;
              width: 200px;

              .img-container {
                height: 150px;

                img {
                  max-width: 80px;
                }

                .tag {
                  font-size: 0.8em;
                }

                .information-hover {
                  bottom: 4%;
                  width: 75%;

                  .add-to-cart,
                  .like-product,
                  .compare-product {
                    font-size: 0.7em;
                  }
                }
              }

              .information-container {
                padding: 0 1em;

                i {
                  font-size: 0.8em;
                }

                .name-brand {
                  font-size: 0.9em;
                  margin-bottom: 0.4em;
                }

                .price-container {
                  text-align: left;
                  font-size: 0.8em;
                  margin-bottom: 0.3em;
                }

                .save-money {
                  text-align: left;
                  font-size: 0.6em;
                  margin-bottom: 0.4em;

                  span {
                    font-size: 1.1em;
                  }
                }

                .buy-now {
                  font-size: 0.8em;
                  padding: 0.3em;
                }
              }
            }
          }
        }
      }

      .bg-fixed-container {
        height: 300px;
        background-attachment: unset;

        .big-sale {
          h1 {
            font-size: 2em;
          }

          p {
            font-size: 1.4em;
            text-align: center;
          }

          a {
            font-size: 1em;
          }
        }
      }
    }
  }

  .outter-container {
    .main-container {
      main {
        .load-more {
          font-size: 0.9em;
        }
      }
    }

    .show-cards-container {
      width: 100%;

      .filter-container {
        .selected-filter {
          padding: 0.3em 0.4em;
          font-size: 0.9em;
        }
      }

      .sort-container {
        .selected-sort {
          padding: 0.3em 0.4em;
          font-size: 0.9em;
        }
      }
    }
  }
}
